PORT=4000
DATABASE_URL='postgres://<dbuser>:<password>@localhost:5432/<dbname>'
DATABASE_TEST_URL='postgres://<dbuser>:<password>@localhost:5432/<dbname>'
SECRET="store your secret here"

# APP URL
BASE_URL='hosted API'
REDIRECT_URL='hosted frontend'

#git hub auth
GITHUB_CLIENT_ID='<string>'
GITHUB_CLIENT_SECRET='<string>'

#google auth
GOOGLE_CLIENT_ID='<string>'
GOOGLE_CLIENT_SECRET='<string>'


LOCAL_URL_GIT='local server url/api/auth/github'

LOCAL_URL_GG='local server url /api/auth/google/callback'

SENDGRID_USERNAME=<string>
SENDGRID_PASSWORD=<string>

CLOUD_NAME=<string>
CLOUD_KEY=<string>
CLOUD_SECRET=<string>

OAUTH_DEFAULT_PWD=<hash>